# 3.1 - Data Structures & Sequences

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tuple = (4, 5, 6), (2, 1) #nested tuples

In [4]:
nested_tuple

((4, 5, 6), (2, 1))

In [5]:
tuple([0, 1, 2, 3]) #casting list to tuple

(0, 1, 2, 3)

In [6]:
tup = tuple('Hello World!') #casting string to tuple

In [7]:
tup

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [8]:
tup[6] #accessing elements from tuple

'W'

In [9]:
tup = tuple([['foo', 'bar'], 2, False])

In [10]:
tup

(['foo', 'bar'], 2, False)

In [11]:
tup[2] = True #Tuples are immutable object.

TypeError: 'tuple' object does not support item assignment

In [ ]:
tup

In [12]:
tup[0]

['foo', 'bar']

In [13]:
tup[0].append('appended_element') #Beacuse the object inside the tuple is mutable.

In [14]:
tup

(['foo', 'bar', 'appended_element'], 2, False)

In [15]:
(4, None, False) + (5, 'foo') #tuple concatenation

(4, None, False, 5, 'foo')

In [16]:
('foo', 254) * 4 #Multiplying a tuple by an integer like lists will concatenate together the copies of the tuple

('foo', 254, 'foo', 254, 'foo', 254, 'foo', 254)

In [17]:
tup = ('a', 'b', 'c')

In [18]:
x, y, z = tup #tuple unpacking

In [19]:
print(x, y, z)

a b c

In [20]:
x, y

('a', 'b')

In [21]:
y, x = x, y #swapping

In [22]:
x, y

('b', 'a')

In [23]:
seq = [('a', 'b', 'c'), ('e', 'f', 'g'), ('h', 'i', 'j')]

In [24]:
for x, y, z in seq:
    print(f"a = {x}, b = {y}, c = {z}")

a = a, b = b, c = c
a = e, b = f, c = g
a = h, b = i, c = j

In [25]:
values = 1, 2, 3, 4, 5

In [26]:
values

(1, 2, 3, 4, 5)

In [27]:
a, b, *rest = values #*rest will store all the values except the first 2 elements from values in unpacking.

In [28]:
print(a)
print(b)

1
2

In [29]:
a, b, c, *rest = values #*_ will discard all the values except the first 2 elements from values in unpacking.

In [30]:
print(a)
print(b)
print(c)

1
2
3

In [31]:
a = (1, 2, 2, 3, 4, 4, 5, 5, 5)

In [32]:
a.count(5) #count() will count the number of instances in the tuple

3

In [33]:
a.count(2)

2

In [34]:
a_list = [2, 3, 7, None]

In [35]:
b_list = list(tup) #casting tuple to list
b_list

['a', 'b', 'c']

In [36]:
b_list[1]

'b'

In [37]:
b_list[1] = 'pikachu' #assigning value to index: list are mutable objects

In [38]:
b_list

['a', 'pikachu', 'c']

In [39]:
gen = list(range(10))

In [40]:
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
b_list.append('snow')

In [42]:
b_list

['a', 'pikachu', 'c', 'snow']

In [43]:
b_list.insert(1, 'jon')

In [44]:
b_list

['a', 'jon', 'pikachu', 'c', 'snow']

In [45]:
b_list.pop(2) #pop(index), from pop you can also store the value

'pikachu'

In [46]:
b_list

['a', 'jon', 'c', 'snow']

In [47]:
b_list.append('foo')

In [48]:
b_list

['a', 'jon', 'c', 'snow', 'foo']

In [49]:
b_list.remove('foo') #remove(value), remove will delete the value from list

In [50]:
b_list

['a', 'jon', 'c', 'snow']

In [51]:
'jon' in b_list #'in' is a membership operator, checks if the value exists in the object

True

In [52]:
'jon' not in b_list

False

In [53]:
a_list + b_list #list concatenating

[2, 3, 7, None, 'a', 'jon', 'c', 'snow']

In [54]:
a_list

[2, 3, 7, None]

In [55]:
c_list =

SyntaxError: invalid syntax (<ipython-input-55-24887c39f61d>, line 1)

In [56]:
a_list.extend(['a', True, None]) #appends the object(list) to the end of the list. Less expensive then concatenation op +

In [57]:
a_list

[2, 3, 7, None, 'a', True, None]

In [58]:
a = [7, 2, 5, 1, 3]

In [59]:
a.sort()

In [60]:
a

[1, 2, 3, 5, 7]

In [61]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [62]:
b.sort(key=len)

In [63]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [64]:
import bisect

In [65]:
a

[1, 2, 3, 5, 7]

In [66]:
bisect.bisect(a, 4) #bisect.bisect(object, value)->index, for value to be inserted at index to keep it sorted

3

In [67]:
bisect.insort(a, 4) #bisort.bisort(object, value) -> inserts the value to list so that it remains sorted

In [68]:
a

[1, 2, 3, 4, 5, 7]

In [69]:
seq = list(range(15))

In [70]:
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [71]:
seq[5] #indexing -> returns the value from object

5

In [72]:
seq[2:6] #slicing -> returns the subset of an object, list[start:(stop):step]

[2, 3, 4, 5]

In [73]:
seq[::2]

[0, 2, 4, 6, 8, 10, 12, 14]

In [74]:
seq[3:]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [75]:
seq[::-1]

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [76]:
seq[-2:]

[13, 14]

In [77]:
b_list

['a', 'jon', 'c', 'snow']

In [78]:
b_dict = {}

In [79]:
for i, value in enumerate(b_list): #enumerate runs an default iterator for indexing
    b_dict[i] = value

In [80]:
b_dict

{0: 'a', 1: 'jon', 2: 'c', 3: 'snow'}

In [81]:
sorted([7, 5, 1, 9, 12, 3, 14, 0]) #sorted() returns the object sorted

[0, 1, 3, 5, 7, 9, 12, 14]

In [82]:
sorted("My name is dan")

[' ', ' ', ' ', 'M', 'a', 'a', 'd', 'e', 'i', 'm', 'n', 'n', 's', 'y']

In [83]:
a_list = ['a', 'b', 'c']
a_list

['a', 'b', 'c']

In [84]:
b_list = [1, 2, 3]
b_list

[1, 2, 3]

In [85]:
zipped = zip(a_list, b_list) #binds the element from first object with second in tuple

In [86]:
zipped

In [87]:
list(zipped)

[('a', 1), ('b', 2), ('c', 3)]

In [88]:
c_list = (False, True, None)

In [89]:
zipped = zip(a_list, b_list, c_list)

In [90]:
list(zipped)

[('a', 1, False), ('b', 2, True), ('c', 3, None)]

In [91]:
for i, (a, b, c) in enumerate(zip(a_list, b_list, c_list)):
    print(f"{i}: {a}, {b}, {c}")

0: a, 1, False
1: b, 2, True
2: c, 3, None

In [92]:
fullNames = [('Dan', 'Hud'), ('Kim', 'Yu'), ('Sal', 'Fung')]

In [93]:
firstName, lastName = zip(*fullNames) #unzipping syntax

In [94]:
firstName

('Dan', 'Kim', 'Sal')

In [95]:
lastName

('Hud', 'Yu', 'Fung')

In [96]:
list(reversed(range(10))) #reversed function reverses the iterable object

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [97]:
empty_dict = {}

In [98]:
d1 = {'a': 'some values', 'b': [1, 2, 4, 8]}

In [99]:
d1 #{key:value}

{'a': 'some values', 'b': [1, 2, 4, 8]}

In [100]:
d1[7] = 'valueR' #d1[key] = value (assignment)

In [101]:
d1

{'a': 'some values', 'b': [1, 2, 4, 8], 7: 'valueR'}

In [102]:
d1['b'] = 'another valueR'

In [103]:
d1

{'a': 'some values', 'b': 'another valueR', 7: 'valueR'}

In [104]:
'b' in d1

True

In [105]:
'another valueR' in d1

False

In [106]:
d1

{'a': 'some values', 'b': 'another valueR', 7: 'valueR'}

In [107]:
del d1[7] #deleted the value at key=7

In [108]:
d1

{'a': 'some values', 'b': 'another valueR'}

In [109]:
d1.pop('b') #pops the value corresponding to the given key

'another valueR'

In [110]:
d1.values() #returns the all the values from dict

dict_values(['some values'])

In [111]:
d1.keys() #returns the all the keys from dict

dict_keys(['a'])

In [112]:
d1.update({7: 'hahaha', 8: 'abcde', 9: (True, None)}) #update extends the given dictionary

In [113]:
d1

{'a': 'some values', 7: 'hahaha', 8: 'abcde', 9: (True, None)}

In [114]:
words = ['apple', 'bat', 'bar', 'yellow', 'red']
by_letter = {}

In [115]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [116]:
by_letter

{'a': ['apple'], 'b': ['bat', 'bar'], 'y': ['yellow'], 'r': ['red']}

The above code can be replaced by using setdefault()

In [117]:
words = ['apple', 'bat', 'bar', 'yellow', 'red']
by_letter = {}

In [118]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [119]:
by_letter

{'a': ['apple'], 'b': ['bat', 'bar'], 'y': ['yellow'], 'r': ['red']}

In [120]:
from collections import defaultdict

In [121]:
by_letters = defaultdict(list)

In [122]:
by_letters

defaultdict(list, {})

In [123]:
for word in words:
    by_letters[word[0]].append(word)

In [124]:
by_letters

defaultdict(list,
            {'a': ['apple'],
             'b': ['bat', 'bar'],
             'y': ['yellow'],
             'r': ['red']})

In [125]:
hash('string')

5425950276767883722

In [126]:
hash((1,2,2))

2528502973978491464

In [127]:
hash([1, 2, 3]) #hash() takes only immutable object as its parameter and converts it to hash value, used for keys in dict

TypeError: unhashable type: 'list'

How to use list as keys?

In [128]:
d = {}

In [129]:
d[tuple([5, 6, 7])] = 78 #convert list into an immutable tuple then store it as key

In [130]:
d

{(5, 6, 7): 78}

Note: An immutable object cannot be treated as keys

In [131]:
{5, 7, 8, 9} #dict with no keys and unique values are sets

{5, 7, 8, 9}

In [132]:
set([2, 8, 8, 8, 9])

{2, 8, 9}

In [133]:
a = {1, 2, 3, 3, 4, 5}
b = {1, 'a', 'b', 'c', 'd', 'e' 'e'}

In [134]:
a.union(b)

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'ee'}

In [135]:
a | b #also a union b

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'ee'}

In [136]:
a.intersection(b)

{1}

In [137]:
a & b #also a intersection b

{1}

In [138]:
c = a.copy()

In [139]:
c

{1, 2, 3, 4, 5}

In [140]:
c |= b

In [141]:
c

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'ee'}

In [142]:
d = a.copy()

In [143]:
d &= b

In [144]:
d

{1}

In [145]:
data = list(range(5))

In [146]:
a_set = {tuple(data)}

In [147]:
a_set #set of 1 tuple

{(0, 1, 2, 3, 4)}

In [148]:
a_set = {1, 2, 3, 4}

In [149]:
{1, 2}.issubset(a_set)

True

In [150]:
a_set.issuperset({1, 2})

True

In [151]:
a_set

{1, 2, 3, 4}

In [152]:
b

{1, 'a', 'b', 'c', 'd', 'ee'}

In [153]:
a_set == b

False

In [154]:
strings = ['apple', 'bee', 'cat', 'a', 'as'] #list comprehension

In [155]:
[word.upper() for word in strings if len(word)>2]

['APPLE', 'BEE', 'CAT']

In [156]:
[chr(i) for i in range(65, 65+26) if i%2 == 0]

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [157]:
{i: len(word) for i, word in enumerate(strings)} #dict comprehension

{0: 5, 1: 3, 2: 3, 3: 1, 4: 2}

In [158]:
{len(word) for word in strings} #set comprehension

{1, 2, 3, 5}

In [159]:
set(map(len, strings))

{1, 2, 3, 5}

In [160]:
set(map(chr, range(65,65+26)))

{'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z'}

In [161]:
all_data = [['dan', 'edu', 'uft', 'parse'], ['print', 'len', 'den', 'kicwosky']] #nested list

In [162]:
[name.upper() for names in all_data for name in names if name[1] == 'e'] #nested for in list comprehension

['LEN', 'DEN']

In [163]:
tup = [(1, 2, 3, 4, 5), ('a', 'b', 'c'), (True, False, None)]

In [164]:
[value for t in tup for value in t] #flattening the list of tuples

[1, 2, 3, 4, 5, 'a', 'b', 'c', True, False, None]

In [165]:
[[value for value in t] for t in tup] #nested list comprehension

[[1, 2, 3, 4, 5], ['a', 'b', 'c'], [True, False, None]]

# 3.2 - Functions

In [166]:
def my_function(x, y, z=1.5): #Positional and Keyword Arguments
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [167]:
my_function(5, 5)

15.0

In [168]:
my_function(5, 5, 78)

780

In [169]:
my_function(5, 5, z=8)

80

In [170]:
my_function(y=5, z=5, x=78)

415

In [171]:
a = 0

In [172]:
def func(): 
    a = []
    for i in range(5):
        a.append(i)

In [173]:
func() #Because a is declared in local namespace

In [174]:
a

0

In [175]:
a = []
def func(): 
    for i in range(5):
        a.append(i)

In [176]:
a #Still wont work

[]

In [177]:
a = None
def func():
    global a #We'll have to use keyword global
    a = []
    for i in range(5):
        a.append(i)

In [178]:
func()

In [179]:
a

[0, 1, 2, 3, 4]

Avoid using global too much, if needed then approach to object oriented

In [180]:
def f():
    a = 5
    b = 6
    c = 7
    
    return a, b, c #return multiple values in form of tuple

In [181]:
f()

(5, 6, 7)

In [182]:
a, b, c = f()

In [183]:
a

5

In [184]:
b

6

In [185]:
c

7

In [186]:
def f():
    a = 5
    b = 6
    c = 7
    
    return {'a': a, 'b': b, 'c':c}

In [187]:
f()

{'a': 5, 'b': 6, 'c': 7}

In [188]:
import re # re -> regular expression

In [189]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [190]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip() #.strip() removes the spaces from front and back
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [191]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

An alternative approach for cleaning string is:

In [192]:
def remove_punc(value):
    return re.sub('[#!?]', '', value)

In [193]:
cleans_op = [remove_punc, str.title, str.strip] #list of function

In [194]:
def clean_str(string, cleans_op):
    result = []
    for value in string:
        for op in cleans_op:
            value = op(value)
        result.append(value)
    return result

In [195]:
clean_str(states, cleans_op)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']

In [196]:
def short_exp(x):
    return x*2

In [197]:
equiv_not = lambda x: x*2 #lambda notation

In [198]:
def apply_to_list(some_list, f):
     return [f(x) for x in some_list]

In [199]:
ints = [4, 0, 1, 5, 6]

In [200]:
apply_to_list(ints, lambda x: x * 2) #passing lambda function as argument

[8, 0, 2, 10, 12]

In [201]:
list(map(lambda x: x*2, ints))

[8, 0, 2, 10, 12]

In [202]:
strings = ['foo', 'bar', 'dede', 'bouraa']

In [203]:
strings.sort(key = lambda x: len(set(list(x))))

In [204]:
strings

['foo', 'dede', 'bar', 'bouraa']

Currying: Using pre existing function to derive new function

In [205]:
def add_numbers(x, y):
    return x + y

In [206]:
add_five = lambda y: add_numbers(5, y)

In [207]:
add_five(15)

20

We can done the above task by calling partial() from functools module

In [208]:
from functools import partial

In [209]:
add_five = partial(add_numbers, 5)

In [210]:
add_five(7)

12

A generator is a concise way to construct a new iterable object.

In [211]:
some_dict = {0:'a', 1:'b', 2:'c', 3:'d'}

In [212]:
dict_iterator = iter(some_dict)

In [213]:
dict_iterator

In [214]:
list(dict_iterator)

[0, 1, 2, 3]

In [215]:
def cubes(n=10):
    print(f'Generating cubes from 1 to {n ** 3}')
    for i in range(1, n+1):
        yield i ** 3 #used keyword yield to create generator

In [216]:
gen = cubes()

In [217]:
gen

In [218]:
for x in gen:
    print(x, end=' ')

Generating cubes from 1 to 1000
1 8 27 64 125 216 343 512 729 1000

In [219]:
#Another way to create generator is to used () as:

In [220]:
gen_a = (x ** 2 for x in range(1, 1001)) #generator expression

In [221]:
gen_a

In [222]:
sum(x ** 3 for x in range(1, 1001)) #using gen exp with sum

250500250000

In [223]:
max(x ** 3 for x in range(1, 1001))

1000000000

In [224]:
min(x ** 3 for x in range(1, 1001))

1

In [225]:
dict((x, x ** 3) for x in range(1, 1001))

{1: 1,
 2: 8,
 3: 27,
 4: 64,
 5: 125,
 6: 216,
 7: 343,
 8: 512,
 9: 729,
 10: 1000,
 11: 1331,
 12: 1728,
 13: 2197,
 14: 2744,
 15: 3375,
 16: 4096,
 17: 4913,
 18: 5832,
 19: 6859,
 20: 8000,
 21: 9261,
 22: 10648,
 23: 12167,
 24: 13824,
 25: 15625,
 26: 17576,
 27: 19683,
 28: 21952,
 29: 24389,
 30: 27000,
 31: 29791,
 32: 32768,
 33: 35937,
 34: 39304,
 35: 42875,
 36: 46656,
 37: 50653,
 38: 54872,
 39: 59319,
 40: 64000,
 41: 68921,
 42: 74088,
 43: 79507,
 44: 85184,
 45: 91125,
 46: 97336,
 47: 103823,
 48: 110592,
 49: 117649,
 50: 125000,
 51: 132651,
 52: 140608,
 53: 148877,
 54: 157464,
 55: 166375,
 56: 175616,
 57: 185193,
 58: 195112,
 59: 205379,
 60: 216000,
 61: 226981,
 62: 238328,
 63: 250047,
 64: 262144,
 65: 274625,
 66: 287496,
 67: 300763,
 68: 314432,
 69: 328509,
 70: 343000,
 71: 357911,
 72: 373248,
 73: 389017,
 74: 405224,
 75: 421875,
 76: 438976,
 77: 456533,
 78: 474552,
 79: 493039,
 80: 512000,
 81: 531441,
 82: 551368,
 83: 571787,
 84: 592704,
 85: 614125,
 86: 636056,
 87: 658503,
 88: 681472,
 89: 704969,
 90: 729000,
 91: 753571,
 92: 778688,
 93: 804357,
 94: 830584,
 95: 857375,
 96: 884736,
 97: 912673,
 98: 941192,
 99: 970299,
 100: 1000000,
 101: 1030301,
 102: 1061208,
 103: 1092727,
 104: 1124864,
 105: 1157625,
 106: 1191016,
 107: 1225043,
 108: 1259712,
 109: 1295029,
 110: 1331000,
 111: 1367631,
 112: 1404928,
 113: 1442897,
 114: 1481544,
 115: 1520875,
 116: 1560896,
 117: 1601613,
 118: 1643032,
 119: 1685159,
 120: 1728000,
 121: 1771561,
 122: 1815848,
 123: 1860867,
 124: 1906624,
 125: 1953125,
 126: 2000376,
 127: 2048383,
 128: 2097152,
 129: 2146689,
 130: 2197000,
 131: 2248091,
 132: 2299968,
 133: 2352637,
 134: 2406104,
 135: 2460375,
 136: 2515456,
 137: 2571353,
 138: 2628072,
 139: 2685619,
 140: 2744000,
 141: 2803221,
 142: 2863288,
 143: 2924207,
 144: 2985984,
 145: 3048625,
 146: 3112136,
 147: 3176523,
 148: 3241792,
 149: 3307949,
 150: 3375000,
 151: 3442951,
 152: 3511808,
 153: 3581577,
 154: 3652264,
 155: 3723875,
 156: 3796416,
 157: 3869893,
 158: 3944312,
 159: 4019679,
 160: 4096000,
 161: 4173281,
 162: 4251528,
 163: 4330747,
 164: 4410944,
 165: 4492125,
 166: 4574296,
 167: 4657463,
 168: 4741632,
 169: 4826809,
 170: 4913000,
 171: 5000211,
 172: 5088448,
 173: 5177717,
 174: 5268024,
 175: 5359375,
 176: 5451776,
 177: 5545233,
 178: 5639752,
 179: 5735339,
 180: 5832000,
 181: 5929741,
 182: 6028568,
 183: 6128487,
 184: 6229504,
 185: 6331625,
 186: 6434856,
 187: 6539203,
 188: 6644672,
 189: 6751269,
 190: 6859000,
 191: 6967871,
 192: 7077888,
 193: 7189057,
 194: 7301384,
 195: 7414875,
 196: 7529536,
 197: 7645373,
 198: 7762392,
 199: 7880599,
 200: 8000000,
 201: 8120601,
 202: 8242408,
 203: 8365427,
 204: 8489664,
 205: 8615125,
 206: 8741816,
 207: 8869743,
 208: 8998912,
 209: 9129329,
 210: 9261000,
 211: 9393931,
 212: 9528128,
 213: 9663597,
 214: 9800344,
 215: 9938375,
 216: 10077696,
 217: 10218313,
 218: 10360232,
 219: 10503459,
 220: 10648000,
 221: 10793861,
 222: 10941048,
 223: 11089567,
 224: 11239424,
 225: 11390625,
 226: 11543176,
 227: 11697083,
 228: 11852352,
 229: 12008989,
 230: 12167000,
 231: 12326391,
 232: 12487168,
 233: 12649337,
 234: 12812904,
 235: 12977875,
 236: 13144256,
 237: 13312053,
 238: 13481272,
 239: 13651919,
 240: 13824000,
 241: 13997521,
 242: 14172488,
 243: 14348907,
 244: 14526784,
 245: 14706125,
 246: 14886936,
 247: 15069223,
 248: 15252992,
 249: 15438249,
 250: 15625000,
 251: 15813251,
 252: 16003008,
 253: 16194277,
 254: 16387064,
 255: 16581375,
 256: 16777216,
 257: 16974593,
 258: 17173512,
 259: 17373979,
 260: 17576000,
 261: 17779581,
 262: 17984728,
 263: 18191447,
 264: 18399744,
 265: 18609625,
 266: 18821096,
 267: 19034163,
 268: 19248832,
 269: 19465109,
 270: 19683000,
 271: 19902511,
 272: 20123648,
 273: 20346417,
 274: 20570824,
 275: 20796875,
 276: 21024576,
 277: 21253933,
 278: 21484952,
 279: 21717639,
 280: 21952000,
 281: 22188041,
 282: 22425768,
 283: 22665187,
 284: 22906304,
 285: 23149125,
 286: 23393656,
 287: 23639903,
 288: 23887872,
 289: 24137569,
 290: 24389000,
 291: 24642171,
 292: 24897088,
 293: 25153757,
 294: 25412184,
 295: 25672375,
 296: 25934336,
 297: 26198073,
 298: 26463592,
 299: 26730899,
 300: 27000000,
 301: 27270901,
 302: 27543608,
 303: 27818127,
 304: 28094464,
 305: 28372625,
 306: 28652616,
 307: 28934443,
 308: 29218112,
 309: 29503629,
 310: 29791000,
 311: 30080231,
 312: 30371328,
 313: 30664297,
 314: 30959144,
 315: 31255875,
 316: 31554496,
 317: 31855013,
 318: 32157432,
 319: 32461759,
 320: 32768000,
 321: 33076161,
 322: 33386248,
 323: 33698267,
 324: 34012224,
 325: 34328125,
 326: 34645976,
 327: 34965783,
 328: 35287552,
 329: 35611289,
 330: 35937000,
 331: 36264691,
 332: 36594368,
 333: 36926037,
 334: 37259704,
 335: 37595375,
 336: 37933056,
 337: 38272753,
 338: 38614472,
 339: 38958219,
 340: 39304000,
 341: 39651821,
 342: 40001688,
 343: 40353607,
 344: 40707584,
 345: 41063625,
 346: 41421736,
 347: 41781923,
 348: 42144192,
 349: 42508549,
 350: 42875000,
 351: 43243551,
 352: 43614208,
 353: 43986977,
 354: 44361864,
 355: 44738875,
 356: 45118016,
 357: 45499293,
 358: 45882712,
 359: 46268279,
 360: 46656000,
 361: 47045881,
 362: 47437928,
 363: 47832147,
 364: 48228544,
 365: 48627125,
 366: 49027896,
 367: 49430863,
 368: 49836032,
 369: 50243409,
 370: 50653000,
 371: 51064811,
 372: 51478848,
 373: 51895117,
 374: 52313624,
 375: 52734375,
 376: 53157376,
 377: 53582633,
 378: 54010152,
 379: 54439939,
 380: 54872000,
 381: 55306341,
 382: 55742968,
 383: 56181887,
 384: 56623104,
 385: 57066625,
 386: 57512456,
 387: 57960603,
 388: 58411072,
 389: 58863869,
 390: 59319000,
 391: 59776471,
 392: 60236288,
 393: 60698457,
 394: 61162984,
 395: 61629875,
 396: 62099136,
 397: 62570773,
 398: 63044792,
 399: 63521199,
 400: 64000000,
 401: 64481201,
 402: 64964808,
 403: 65450827,
 404: 65939264,
 405: 66430125,
 406: 66923416,
 407: 67419143,
 408: 67917312,
 409: 68417929,
 410: 68921000,
 411: 69426531,
 412: 69934528,
 413: 70444997,
 414: 70957944,
 415: 71473375,
 416: 71991296,
 417: 72511713,
 418: 73034632,
 419: 73560059,
 420: 74088000,
 421: 74618461,
 422: 75151448,
 423: 75686967,
 424: 76225024,
 425: 76765625,
 426: 77308776,
 427: 77854483,
 428: 78402752,
 429: 78953589,
 430: 79507000,
 431: 80062991,
 432: 80621568,
 433: 81182737,
 434: 81746504,
 435: 82312875,
 436: 82881856,
 437: 83453453,
 438: 84027672,
 439: 84604519,
 440: 85184000,
 441: 85766121,
 442: 86350888,
 443: 86938307,
 444: 87528384,
 445: 88121125,
 446: 88716536,
 447: 89314623,
 448: 89915392,
 449: 90518849,
 450: 91125000,
 451: 91733851,
 452: 92345408,
 453: 92959677,
 454: 93576664,
 455: 94196375,
 456: 94818816,
 457: 95443993,
 458: 96071912,
 459: 96702579,
 460: 97336000,
 461: 97972181,
 462: 98611128,
 463: 99252847,
 464: 99897344,
 465: 100544625,
 466: 101194696,
 467: 101847563,
 468: 102503232,
 469: 103161709,
 470: 103823000,
 471: 104487111,
 472: 105154048,
 473: 105823817,
 474: 106496424,
 475: 107171875,
 476: 107850176,
 477: 108531333,
 478: 109215352,
 479: 109902239,
 480: 110592000,
 481: 111284641,
 482: 111980168,
 483: 112678587,
 484: 113379904,
 485: 114084125,
 486: 114791256,
 487: 115501303,
 488: 116214272,
 489: 116930169,
 490: 117649000,
 491: 118370771,
 492: 119095488,
 493: 119823157,
 494: 120553784,
 495: 121287375,
 496: 122023936,
 497: 122763473,
 498: 123505992,
 499: 124251499,
 500: 125000000,
 501: 125751501,
 502: 126506008,
 503: 127263527,
 504: 128024064,
 505: 128787625,
 506: 129554216,
 507: 130323843,
 508: 131096512,
 509: 131872229,
 510: 132651000,
 511: 133432831,
 512: 134217728,
 513: 135005697,
 514: 135796744,
 515: 136590875,
 516: 137388096,
 517: 138188413,
 518: 138991832,
 519: 139798359,
 520: 140608000,
 521: 141420761,
 522: 142236648,
 523: 143055667,
 524: 143877824,
 525: 144703125,
 526: 145531576,
 527: 146363183,
 528: 147197952,
 529: 148035889,
 530: 148877000,
 531: 149721291,
 532: 150568768,
 533: 151419437,
 534: 152273304,
 535: 153130375,
 536: 153990656,
 537: 154854153,
 538: 155720872,
 539: 156590819,
 540: 157464000,
 541: 158340421,
 542: 159220088,
 543: 160103007,
 544: 160989184,
 545: 161878625,
 546: 162771336,
 547: 163667323,
 548: 164566592,
 549: 165469149,
 550: 166375000,
 551: 167284151,
 552: 168196608,
 553: 169112377,
 554: 170031464,
 555: 170953875,
 556: 171879616,
 557: 172808693,
 558: 173741112,
 559: 174676879,
 560: 175616000,
 561: 176558481,
 562: 177504328,
 563: 178453547,
 564: 179406144,
 565: 180362125,
 566: 181321496,
 567: 182284263,
 568: 183250432,
 569: 184220009,
 570: 185193000,
 571: 186169411,
 572: 187149248,
 573: 188132517,
 574: 189119224,
 575: 190109375,
 576: 191102976,
 577: 192100033,
 578: 193100552,
 579: 194104539,
 580: 195112000,
 581: 196122941,
 582: 197137368,
 583: 198155287,
 584: 199176704,
 585: 200201625,
 586: 201230056,
 587: 202262003,
 588: 203297472,
 589: 204336469,
 590: 205379000,
 591: 206425071,
 592: 207474688,
 593: 208527857,
 594: 209584584,
 595: 210644875,
 596: 211708736,
 597: 212776173,
 598: 213847192,
 599: 214921799,
 600: 216000000,
 601: 217081801,
 602: 218167208,
 603: 219256227,
 604: 220348864,
 605: 221445125,
 606: 222545016,
 607: 223648543,
 608: 224755712,
 609: 225866529,
 610: 226981000,
 611: 228099131,
 612: 229220928,
 613: 230346397,
 614: 231475544,
 615: 232608375,
 616: 233744896,
 617: 234885113,
 618: 236029032,
 619: 237176659,
 620: 238328000,
 621: 239483061,
 622: 240641848,
 623: 241804367,
 624: 242970624,
 625: 244140625,
 626: 245314376,
 627: 246491883,
 628: 247673152,
 629: 248858189,
 630: 250047000,
 631: 251239591,
 632: 252435968,
 633: 253636137,
 634: 254840104,
 635: 256047875,
 636: 257259456,
 637: 258474853,
 638: 259694072,
 639: 260917119,
 640: 262144000,
 641: 263374721,
 642: 264609288,
 643: 265847707,
 644: 267089984,
 645: 268336125,
 646: 269586136,
 647: 270840023,
 648: 272097792,
 649: 273359449,
 650: 274625000,
 651: 275894451,
 652: 277167808,
 653: 278445077,
 654: 279726264,
 655: 281011375,
 656: 282300416,
 657: 283593393,
 658: 284890312,
 659: 286191179,
 660: 287496000,
 661: 288804781,
 662: 290117528,
 663: 291434247,
 664: 292754944,
 665: 294079625,
 666: 295408296,
 667: 296740963,
 668: 298077632,
 669: 299418309,
 670: 300763000,
 671: 302111711,
 672: 303464448,
 673: 304821217,
 674: 306182024,
 675: 307546875,
 676: 308915776,
 677: 310288733,
 678: 311665752,
 679: 313046839,
 680: 314432000,
 681: 315821241,
 682: 317214568,
 683: 318611987,
 684: 320013504,
 685: 321419125,
 686: 322828856,
 687: 324242703,
 688: 325660672,
 689: 327082769,
 690: 328509000,
 691: 329939371,
 692: 331373888,
 693: 332812557,
 694: 334255384,
 695: 335702375,
 696: 337153536,
 697: 338608873,
 698: 340068392,
 699: 341532099,
 700: 343000000,
 701: 344472101,
 702: 345948408,
 703: 347428927,
 704: 348913664,
 705: 350402625,
 706: 351895816,
 707: 353393243,
 708: 354894912,
 709: 356400829,
 710: 357911000,
 711: 359425431,
 712: 360944128,
 713: 362467097,
 714: 363994344,
 715: 365525875,
 716: 367061696,
 717: 368601813,
 718: 370146232,
 719: 371694959,
 720: 373248000,
 721: 374805361,
 722: 376367048,
 723: 377933067,
 724: 379503424,
 725: 381078125,
 726: 382657176,
 727: 384240583,
 728: 385828352,
 729: 387420489,
 730: 389017000,
 731: 390617891,
 732: 392223168,
 733: 393832837,
 734: 395446904,
 735: 397065375,
 736: 398688256,
 737: 400315553,
 738: 401947272,
 739: 403583419,
 740: 405224000,
 741: 406869021,
 742: 408518488,
 743: 410172407,
 744: 411830784,
 745: 413493625,
 746: 415160936,
 747: 416832723,
 748: 418508992,
 749: 420189749,
 750: 421875000,
 751: 423564751,
 752: 425259008,
 753: 426957777,
 754: 428661064,
 755: 430368875,
 756: 432081216,
 757: 433798093,
 758: 435519512,
 759: 437245479,
 760: 438976000,
 761: 440711081,
 762: 442450728,
 763: 444194947,
 764: 445943744,
 765: 447697125,
 766: 449455096,
 767: 451217663,
 768: 452984832,
 769: 454756609,
 770: 456533000,
 771: 458314011,
 772: 460099648,
 773: 461889917,
 774: 463684824,
 775: 465484375,
 776: 467288576,
 777: 469097433,
 778: 470910952,
 779: 472729139,
 780: 474552000,
 781: 476379541,
 782: 478211768,
 783: 480048687,
 784: 481890304,
 785: 483736625,
 786: 485587656,
 787: 487443403,
 788: 489303872,
 789: 491169069,
 790: 493039000,
 791: 494913671,
 792: 496793088,
 793: 498677257,
 794: 500566184,
 795: 502459875,
 796: 504358336,
 797: 506261573,
 798: 508169592,
 799: 510082399,
 800: 512000000,
 801: 513922401,
 802: 515849608,
 803: 517781627,
 804: 519718464,
 805: 521660125,
 806: 523606616,
 807: 525557943,
 808: 527514112,
 809: 529475129,
 810: 531441000,
 811: 533411731,
 812: 535387328,
 813: 537367797,
 814: 539353144,
 815: 541343375,
 816: 543338496,
 817: 545338513,
 818: 547343432,
 819: 549353259,
 820: 551368000,
 821: 553387661,
 822: 555412248,
 823: 557441767,
 824: 559476224,
 825: 561515625,
 826: 563559976,
 827: 565609283,
 828: 567663552,
 829: 569722789,
 830: 571787000,
 831: 573856191,
 832: 575930368,
 833: 578009537,
 834: 580093704,
 835: 582182875,
 836: 584277056,
 837: 586376253,
 838: 588480472,
 839: 590589719,
 840: 592704000,
 841: 594823321,
 842: 596947688,
 843: 599077107,
 844: 601211584,
 845: 603351125,
 846: 605495736,
 847: 607645423,
 848: 609800192,
 849: 611960049,
 850: 614125000,
 851: 616295051,
 852: 618470208,
 853: 620650477,
 854: 622835864,
 855: 625026375,
 856: 627222016,
 857: 629422793,
 858: 631628712,
 859: 633839779,
 860: 636056000,
 861: 638277381,
 862: 640503928,
 863: 642735647,
 864: 644972544,
 865: 647214625,
 866: 649461896,
 867: 651714363,
 868: 653972032,
 869: 656234909,
 870: 658503000,
 871: 660776311,
 872: 663054848,
 873: 665338617,
 874: 667627624,
 875: 669921875,
 876: 672221376,
 877: 674526133,
 878: 676836152,
 879: 679151439,
 880: 681472000,
 881: 683797841,
 882: 686128968,
 883: 688465387,
 884: 690807104,
 885: 693154125,
 886: 695506456,
 887: 697864103,
 888: 700227072,
 889: 702595369,
 890: 704969000,
 891: 707347971,
 892: 709732288,
 893: 712121957,
 894: 714516984,
 895: 716917375,
 896: 719323136,
 897: 721734273,
 898: 724150792,
 899: 726572699,
 900: 729000000,
 901: 731432701,
 902: 733870808,
 903: 736314327,
 904: 738763264,
 905: 741217625,
 906: 743677416,
 907: 746142643,
 908: 748613312,
 909: 751089429,
 910: 753571000,
 911: 756058031,
 912: 758550528,
 913: 761048497,
 914: 763551944,
 915: 766060875,
 916: 768575296,
 917: 771095213,
 918: 773620632,
 919: 776151559,
 920: 778688000,
 921: 781229961,
 922: 783777448,
 923: 786330467,
 924: 788889024,
 925: 791453125,
 926: 794022776,
 927: 796597983,
 928: 799178752,
 929: 801765089,
 930: 804357000,
 931: 806954491,
 932: 809557568,
 933: 812166237,
 934: 814780504,
 935: 817400375,
 936: 820025856,
 937: 822656953,
 938: 825293672,
 939: 827936019,
 940: 830584000,
 941: 833237621,
 942: 835896888,
 943: 838561807,
 944: 841232384,
 945: 843908625,
 946: 846590536,
 947: 849278123,
 948: 851971392,
 949: 854670349,
 950: 857375000,
 951: 860085351,
 952: 862801408,
 953: 865523177,
 954: 868250664,
 955: 870983875,
 956: 873722816,
 957: 876467493,
 958: 879217912,
 959: 881974079,
 960: 884736000,
 961: 887503681,
 962: 890277128,
 963: 893056347,
 964: 895841344,
 965: 898632125,
 966: 901428696,
 967: 904231063,
 968: 907039232,
 969: 909853209,
 970: 912673000,
 971: 915498611,
 972: 918330048,
 973: 921167317,
 974: 924010424,
 975: 926859375,
 976: 929714176,
 977: 932574833,
 978: 935441352,
 979: 938313739,
 980: 941192000,
 981: 944076141,
 982: 946966168,
 983: 949862087,
 984: 952763904,
 985: 955671625,
 986: 958585256,
 987: 961504803,
 988: 964430272,
 989: 967361669,
 990: 970299000,
 991: 973242271,
 992: 976191488,
 993: 979146657,
 994: 982107784,
 995: 985074875,
 996: 988047936,
 997: 991026973,
 998: 994011992,
 999: 997002999,
 1000: 1000000000}

In [226]:
import itertools

In [227]:
first_letter = lambda x: x[0]

In [228]:
names = ['Alan','Alli' , 'Sal', 'Dan', 'Karm', 'Ali', 'DH']

In [229]:
for letter, names in itertools.groupby(names, first_letter):
    print(f'{letter}: {list(names)}')

A: ['Alan', 'Alli']
S: ['Sal']
D: ['Dan']
K: ['Karm']
A: ['Ali']
D: ['DH']

### Errors and Exceptional Handling

In [230]:
float('1.234')

1.234

In [231]:
float('hello') #We want to execute our code gracefully, so using exception will be better

ValueError: could not convert string to float: 'hello'

In [232]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [233]:
attempt_float('1.2354')

1.2354

In [234]:
attempt_float('hello')

'hello'

In [235]:
float((2,3))

TypeError: float() argument must be a string or a number, not 'tuple'

In [236]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return print('Value Error!', x, sep='\n')
    except TypeError:
        return print('Type Error!', x, sep='\n')

In [237]:
attempt_float('hello')

Value Error!
hello

In [238]:
attempt_float((2,3))

Type Error!
(2, 3)

Below is another way to write exceptions will mixture of else and finally. Finally will always run regardless if try block runs
or not

In [239]:
"""
f = open(path, 'w')
try:
 write_to_file(f)
except:
 print('Failed')
else:
 print('Succeeded')
finally:
 f.close()

"""

"\nf = open(path, 'w')\ntry:\n write_to_file(f)\nexcept:\n print('Failed')\nelse:\n print('Succeeded')\nfinally:\n f.close()\n\n"

In [240]:
# To be continued...