In [6]:
import numpy as np

In [7]:
print('Hello World!')

Hello World!

In [8]:
data = {i: np.random.randn() for i in range(7)}

In [9]:
data

{0: -0.09344200106657366,
 1: 1.7092846733668239,
 2: -0.725883728817675,
 3: -0.22099644892391232,
 4: 0.5581711617958042,
 5: -0.7308125883940302,
 6: 0.6234853958570816}

In [13]:
data? #Introspection

In [14]:
a = [1, 3, 4, 5]

In [15]:
a?

In [16]:
print?

In [21]:
def add_numbers(x, y, z):
    return x+y+z

In [22]:
add_numbers??

?? shows also the source code if possible

In [23]:
result = add_numbers(2, 5, 7)

In [24]:
result

14

In [25]:
def f(x, y, z):
    return (x+y)/z

In [26]:
result = f(5, 8, 9.5)

In [27]:
result

1.368421052631579

In [28]:
x = 5
y = 7

if x > 5:
    x += 1
    y = 8

In [29]:
x

5

In [30]:
y

7

In [31]:
a = np.random.randn(100, 100)
a

array([[-1.83468757, -1.57605796, -0.39944127, ...,  0.58977555,
        -1.26787877,  0.8843335 ],
       [ 0.91781426, -0.87573554,  0.29340147, ..., -1.47901488,
         2.70383772,  1.31264253],
       [ 1.37747835, -0.43348694,  0.13734906, ...,  0.67210487,
        -0.43282419, -0.13877558],
       ...,
       [ 0.74016523, -0.31608979,  0.40526315, ...,  1.80762096,
        -0.09645138, -0.50632036],
       [-0.33654917,  0.92052682, -0.44100886, ..., -1.10826361,
        -0.14696772, -0.69610679],
       [ 0.19050091, -0.33066267, -0.2870599 , ...,  0.90247245,
        -1.39722988, -0.14377362]])

In [36]:
np.dot(a, a) #returns the dot product of the given arrays

array([[  9.51052508,  11.32964702,   6.32694807, ...,   6.79015405,
          2.65145578,   2.85819299],
       [-11.70787561,  20.72603415,  17.87716722, ...,  -9.39194643,
          3.13369117,  -4.20376069],
       [-12.07845417, -10.55307102,   4.66195564, ...,  -5.31137485,
        -10.04130265,   1.78839279],
       ...,
       [  0.51108582,   7.14474479,  -2.25024715, ...,  -0.2134306 ,
         14.68600503,  -2.88109858],
       [ 16.7722051 , -10.61643912,   0.54084848, ..., -10.7945932 ,
         23.15322012,   5.71754468],
       [ -9.913347  , -11.93814429,   3.36191327, ...,  22.57467917,
         -7.82911009, -16.18830316]])

In [37]:
%timeit np.dot(a, a)

40.1 µs ± 1.89 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

Magic commands are the special commands that are used to control the behaviour of the system.
Example: %timeit -> used to check the time period of the exection of the statement.

In [38]:
%debug?

In [39]:
%pwd

'D:\\Python Book Solutions\\Python for Data Analysis\\Python for Data Analysis 2nd Edition\\Coding Examples'

In [46]:
%magic #returns the documentation of all the magic commands

In [47]:
%hist #returns the histroy of all the commands

In [ ]:
%reset #deletes all the variables/names defined in the environment

In [48]:
%who #returns the names of all the variables in environment

a	 add_numbers	 data	 f	 np	 result	 x	 y

In [50]:
%xdel result

%del var_name -> to delete the specific variable

In [51]:
%matplotlib inline

In [65]:
file_handle = 'I am f yes f ..'

In [66]:
results = []

for line in file_handle:
    results.append(line.replace('f', 'b'))
    
print(results)
print(file_handle)

['I', ' ', 'a', 'm', ' ', 'b', ' ', 'y', 'e', 's', ' ', 'b', ' ', '.', '.']
I am f yes f ..

In [91]:
list_a = [1, 2, 3]

In [92]:
list_b = list_a #list_b and list_a are both referencing to same object

In [93]:
list_a.append(4)

In [94]:
list_a

[1, 2, 3, 4]

In [95]:
list_b

[1, 2, 3, 4]

In [96]:
data = [1, 2, 5]

In [97]:
def append_element(list_temp, data):
    return list_temp.append(data)

In [98]:
append_element(list_b, 78)
list_b

[1, 2, 3, 4, 78]

In [101]:
a = 5
type(a)

int

In [102]:
b = 'foo'
type(b)

str

In [103]:
'5' + 5

TypeError: can only concatenate str (not "int") to str

In [104]:
int('5') + 5

10

In [105]:
5 + 5

10

In [106]:
a = 4.2
b = 2
a/b

2.1

In [109]:
a = 5
isinstance(a, int) #checks the that the variable a is an instance of int

True

In [112]:
a = 5; b = 4.8
isinstance(a, (int,float)) #checks the that the variable a is an instance of int or float

True

In [113]:
a = 5; b = 4.8
isinstance(b, (int,float)) #checks the that the variable b is an instance of int or float

True

In [114]:
a = 5; b = 4.8; c = 'foo'
isinstance(c, (int,float)) #checks the that the variable b is an instance of int or float

False

In [121]:
#To check if an object is iterable:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError:
        return False

In [122]:
isiterable(a)

False

In [123]:
a = 'hello world'
isiterable(a)

True

In [124]:
isiterable([2, 4, 8])

True

In [135]:
5 <= 7

True

In [136]:
5 != 5

False

In [137]:
a = [1, 2, 3]
a

[1, 2, 3]

In [138]:
b = a
b

[1, 2, 3]

In [139]:
c = list(a)
c

[1, 2, 3]

In [140]:
d = a.copy()
d

[1, 2, 3]

In [141]:
b is a

True

In [142]:
a is b

True

In [144]:
c is a #because c and a points to 2 different object having same value

False

In [145]:
c is d

False

In [146]:
d is a

False

In [148]:
a == c #value comparision

True

Note: base ** power and a ^ b is exclusive OR

a is b -> operator 'is' is used to check if a and b both references to same object

In [150]:
a_list = ['foo', 2, 4, [5,8]]

In [151]:
a_list[2] = (3,4)

In [152]:
a_list

['foo', 2, (3, 4), [5, 8]]

(2, 3) is a tuple object and is immutable

In [154]:
tuple_a = (4, 5, 6, 7)

In [155]:
tuple_a[2]

6

In [157]:
tuple_a[2] = 87 #Error because tuples are immutable

TypeError: 'tuple' object does not support item assignment

Scalar Type are built in data types to hold data. Example: str, None(Null), bytes, float, int, bool

Numeric Types are data types that holds only numerical value

In [159]:
ival = 17455484848

In [162]:
ival ** 9

150448287100139858979327133087179755078539956780833764298493675811085057553217647410453413888

In [163]:
fval = 6.78e-5

In [164]:
type(fval)

float

In [165]:
3 / 2

1.5

In [167]:
3 // 2 # // returns the floor division value

1

In [178]:
int(str(3 / 2).split('.')[-1])

5

In [180]:
a = 'This is a string'
b = 'another way to write string'
c = """
    In this string I can write in multiple lines
"""

In [183]:
a.count('is') # returns the number of substring a string has

2

In [184]:
b.count(' ')

4

In [185]:
c.count('\n')

2

In [186]:
a

'This is a string'

In [187]:
a[2]

'i'

In [189]:
a[2] = 'J' #Error because strings are immutable objects

TypeError: 'str' object does not support item assignment

In [193]:
#conversion of int to string
str(5.6) + 'abc' #concatenation

'5.6abc'

In [195]:
#conversion of string to list
a = list(a)
a

['T',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g']

In [200]:
a[8] #indexing

'a'

In [202]:
a[3:6] #slicing

['s', ' ', 'i']

In [203]:
p = 'python'
p[2:]

'thon'

In [218]:
d = r"Hello \n world!"
d

'Hello \\n world!'

In [219]:
a = "This is a first half"
b = "This is a second half"

In [221]:
a + " " + b

'This is a first half This is a second half'

In [223]:
template = "{0:d} is equals to {1:.2f} {2:s}"
template.format(1, 165.7585, 'PKR')

'1 is equals to 165.76 PKR'

In [225]:
val = 'Ertug~al'
val

'Ertug~al'

In [227]:
val_encode = val.encode('utf-8')
val_encode

b'Ertug~al'

In [228]:
type(val_encode)

bytes

In [230]:
val_encode.decode()

'Ertug~al'

In [232]:
val.encode('latin1')

b'Ertug~al'

In [234]:
val.encode('utf-16')

b'\xff\xfeE\x00r\x00t\x00u\x00g\x00~\x00a\x00l\x00'

In [235]:
val.encode('utf-16le')

b'E\x00r\x00t\x00u\x00g\x00~\x00a\x00l\x00'

In [236]:
value_a = b'This is bytes'

In [237]:
value_a

b'This is bytes'

In [240]:
value_a.decode('utf-8')

'This is bytes'

In [241]:
True

True

In [242]:
False

False

In [243]:
True and False

False

In [244]:
True & False

False

In [245]:
True or False

True

In [246]:
True | False

True

In [247]:
fval = 78.541

In [248]:
int(fval)

78

In [249]:
str(fval)

'78.541'

In [254]:
bool(fval)

True

In [255]:
bool(1)

True

In [256]:
bool(0)

False

In [257]:
a = None

In [258]:
a

In [259]:
a is None

True

In [260]:
a is not None

False

In [261]:
type(None)

NoneType

In [263]:
def add_maybe_multiplt(a, b, c=None):
    result = a + b
    
    if c is not None:
        product = a * b
        print(product)
        
    print(result)

In [266]:
add_maybe_multiplt(5, 4)

9

In [267]:
add_maybe_multiplt(5, 4, 1)

20
9

In [268]:
from datetime import datetime, date, time

In [270]:
dt = datetime(2020, 5, 10, 4, 10, 59)
dt

datetime.datetime(2020, 5, 10, 4, 10, 59)

In [271]:
dt.day

10

In [273]:
dt.minute

10

In [274]:
dt.date()

datetime.date(2020, 5, 10)

In [276]:
dt = datetime.today()
dt

datetime.datetime(2020, 5, 10, 16, 11, 59, 549228)

In [277]:
dt.day

10

In [278]:
dt.hour

16

In [280]:
dt.minute

11

In [286]:
dt.date()

datetime.date(2020, 5, 10)

In [287]:
dt.time()

datetime.time(16, 11, 59, 549228)

In [288]:
dt.strftime('%m/%d/%Y %H:%M')

'05/10/2020 16:11'

In [291]:
datetime.strptime('05102020', '%m%d%Y')

datetime.datetime(2020, 5, 10, 0, 0)

In [292]:
dt

datetime.datetime(2020, 5, 10, 16, 11, 59, 549228)

In [296]:
dt.replace(minute = 0, second = 0, microsecond = 0)

datetime.datetime(2020, 5, 10, 16, 0)

In [297]:
dt

datetime.datetime(2020, 5, 10, 16, 11, 59, 549228)

In [298]:
dt2 = datetime(2020, 4, 12, 19, 19, 59)

In [301]:
delta = dt - dt2
delta

datetime.timedelta(days=27, seconds=75120, microseconds=549228)

In [302]:
type(delta)

datetime.timedelta

In [306]:
delta2 = dt + delta
delta2

datetime.datetime(2020, 6, 7, 13, 4, 0, 98456)

In [309]:
if x < 0:
    print('Its negative')

In [310]:
if x > 0:
    print('Its positive')

Its positive

In [311]:
if x == 0:
    print("Zero!")

In [315]:
if x < 0:
    print("It's negative!")
elif x > 0:
    print("Its positive")
elif x == 0:
    print("Zero!")
else:
    print('IDK')

Its positive

In [316]:
a = 5; b = 7

In [317]:
c = 7.8; d = 9

In [319]:
if (a < b) & (c < d):
    print(True)

True

In [320]:
4 > 3 > 2 > 1

True

In [321]:
seq = [1, 2, None, 4, None, 6]

In [322]:
total = 0

In [330]:
for value in seq:
    if value is None:
        continue
    total += value
    
print(total)

37

In [332]:
total = 0
for value in seq:
    if value is None:
        break
    total += value
    
print(total)

3

In [333]:
for i in range(7):
    for j in range(7):
        if j > i:
            print((i, j))

(0, 1)
(0, 2)
(0, 3)
(0, 4)
(0, 5)
(0, 6)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(3, 4)
(3, 5)
(3, 6)
(4, 5)
(4, 6)
(5, 6)

In [339]:
a = [1, 2, 3, 4, 5]
b = ['a', 'b', 'c', 'd',  'e']

In [341]:
for x, y in zip(a,b):
    print((x, y))

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [342]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [343]:
if x < 0:
    print("It's negative!")
elif x > 0:
    print("Its positive")
elif x == 0:
    print("Zero!")
else:
    pass

Its positive

In [346]:
range(10)

range(0, 10)

In [347]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [348]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [350]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [356]:
def sum_of_mul3x5():
    sum = 0
    for i in range(100000):
        if i % 3 == 0 or i % 5 == 0:
            sum += i
            
    return sum

In [358]:
%timeit sum_of_mul3x5()

32.8 ms ± 3.52 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [366]:
x = 4

In [367]:
"Greater than 3" if x > 3 else "Less than 3"

'Greater than 3'

In [370]:
x = 1
"Greater than 3" if x > 3 else "Less than 3"

'Less than 3'