# 3.1 - Data Structures & Sequences

In [315]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tuple = (4, 5, 6), (2, 1) #nested tuples

In [4]:
nested_tuple

((4, 5, 6), (2, 1))

In [6]:
tuple([0, 1, 2, 3]) #casting list to tuple

(0, 1, 2, 3)

In [9]:
tup = tuple('Hello World!') #casting string to tuple

In [10]:
tup

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

In [15]:
tup[6] #accessing elements from tuple

'W'

In [30]:
tup = tuple([['foo', 'bar'], 2, False])

In [31]:
tup

(['foo', 'bar'], 2, False)

In [32]:
tup[2] = True #Tuples are immutable object.

TypeError: 'tuple' object does not support item assignment

In [33]:
tup

(['foo', 'bar'], 2, False)

In [34]:
tup[0]

['foo', 'bar']

In [35]:
tup[0].append('appended_element') #Beacuse the object inside the tuple is mutable.

In [36]:
tup

(['foo', 'bar', 'appended_element'], 2, False)

In [38]:
(4, None, False) + (5, 'foo') #tuple concatenation

(4, None, False, 5, 'foo')

In [40]:
('foo', 254) * 4 #Multiplying a tuple by an integer like lists will concatenate together the copies of the tuple

('foo', 254, 'foo', 254, 'foo', 254, 'foo', 254)

In [47]:
tup = ('a', 'b', 'c')

In [49]:
x, y, z = tup #tuple unpacking

In [45]:
print(x, y, z)

a b c

In [52]:
x, y

('a', 'b')

In [53]:
y, x = x, y #swapping

In [55]:
x, y

('b', 'a')

In [56]:
seq = [('a', 'b', 'c'), ('e', 'f', 'g'), ('h', 'i', 'j')]

In [58]:
for x, y, z in seq:
    print(f"a = {x}, b = {y}, c = {z}")

a = a, b = b, c = c
a = e, b = f, c = g
a = h, b = i, c = j

In [59]:
values = 1, 2, 3, 4, 5

In [63]:
values

(1, 2, 3, 4, 5)

In [64]:
a, b, *rest = values #*rest will store all the values except the first 2 elements from values in unpacking.

In [65]:
print(a)
print(b)

1
2

In [67]:
a, b, c, *rest = values #*_ will discard all the values except the first 2 elements from values in unpacking.

In [68]:
print(a)
print(b)
print(c)

1
2
3

In [70]:
a = (1, 2, 2, 3, 4, 4, 5, 5, 5)

In [71]:
a.count(5) #count() will count the number of instances in the tuple

3

In [72]:
a.count(2)

2

In [122]:
a_list = [2, 3, 7, None]

In [123]:
b_list = list(tup) #casting tuple to list
b_list

['a', 'b', 'c']

In [124]:
b_list[1]

'b'

In [125]:
b_list[1] = 'pikachu' #assigning value to index: list are mutable objects

In [126]:
b_list

['a', 'pikachu', 'c']

In [127]:
gen = list(range(10))

In [128]:
gen

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [129]:
b_list.append('snow')

In [130]:
b_list

['a', 'pikachu', 'c', 'snow']

In [131]:
b_list.insert(1, 'jon')

In [132]:
b_list

['a', 'jon', 'pikachu', 'c', 'snow']

In [133]:
b_list.pop(2) #pop(index), from pop you can also store the value

'pikachu'

In [134]:
b_list

['a', 'jon', 'c', 'snow']

In [135]:
b_list.append('foo')

In [136]:
b_list

['a', 'jon', 'c', 'snow', 'foo']

In [137]:
b_list.remove('foo') #remove(value), remove will delete the value from list

In [138]:
b_list

['a', 'jon', 'c', 'snow']

In [139]:
'jon' in b_list #'in' is a membership operator, checks if the value exists in the object

True

In [140]:
'jon' not in b_list

False

In [141]:
a_list + b_list #list concatenating

[2, 3, 7, None, 'a', 'jon', 'c', 'snow']

In [142]:
a_list

[2, 3, 7, None]

In [117]:
c_list =

In [143]:
a_list.extend(['a', True, None]) #appends the object(list) to the end of the list. Less expensive then concatenation op +

In [144]:
a_list

[2, 3, 7, None, 'a', True, None]

In [145]:
a = [7, 2, 5, 1, 3]

In [146]:
a.sort()

In [147]:
a

[1, 2, 3, 5, 7]

In [148]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [149]:
b.sort(key=len)

In [150]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [151]:
import bisect

In [152]:
a

[1, 2, 3, 5, 7]

In [155]:
bisect.bisect(a, 4) #bisect.bisect(object, value)->index, for value to be inserted at index to keep it sorted

3

In [156]:
bisect.insort(a, 4) #bisort.bisort(object, value) -> inserts the value to list so that it remains sorted

In [157]:
a

[1, 2, 3, 4, 5, 7]

In [159]:
seq = list(range(15))

In [160]:
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [162]:
seq[5] #indexing -> returns the value from object

5

In [163]:
seq[2:6] #slicing -> returns the subset of an object, list[start:(stop):step]

[2, 3, 4, 5]

In [164]:
seq[::2]

[0, 2, 4, 6, 8, 10, 12, 14]

In [165]:
seq[3:]

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [166]:
seq[::-1]

[14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [167]:
seq[-2:]

[13, 14]

In [170]:
b_list

['a', 'jon', 'c', 'snow']

In [171]:
b_dict = {}

In [172]:
for i, value in enumerate(b_list): #enumerate runs an default iterator for indexing
    b_dict[i] = value

In [173]:
b_dict

{0: 'a', 1: 'jon', 2: 'c', 3: 'snow'}

In [175]:
sorted([7, 5, 1, 9, 12, 3, 14, 0]) #sorted() returns the object sorted

[0, 1, 3, 5, 7, 9, 12, 14]

In [176]:
sorted("My name is dan")

[' ', ' ', ' ', 'M', 'a', 'a', 'd', 'e', 'i', 'm', 'n', 'n', 's', 'y']

In [180]:
a_list = ['a', 'b', 'c']
a_list

['a', 'b', 'c']

In [181]:
b_list = [1, 2, 3]
b_list

[1, 2, 3]

In [182]:
zipped = zip(a_list, b_list) #binds the element from first object with second in tuple

In [183]:
zipped

In [184]:
list(zipped)

[('a', 1), ('b', 2), ('c', 3)]

In [188]:
c_list = (False, True, None)

In [189]:
zipped = zip(a_list, b_list, c_list)

In [191]:
list(zipped)

[('a', 1, False), ('b', 2, True), ('c', 3, None)]

In [194]:
for i, (a, b, c) in enumerate(zip(a_list, b_list, c_list)):
    print(f"{i}: {a}, {b}, {c}")

0: a, 1, False
1: b, 2, True
2: c, 3, None

In [200]:
fullNames = [('Dan', 'Hud'), ('Kim', 'Yu'), ('Sal', 'Fung')]

In [201]:
firstName, lastName = zip(*fullNames) #unzipping syntax

In [203]:
firstName

('Dan', 'Kim', 'Sal')

In [204]:
lastName

('Hud', 'Yu', 'Fung')

In [208]:
list(reversed(range(10))) #reversed function reverses the iterable object

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [209]:
empty_dict = {}

In [210]:
d1 = {'a': 'some values', 'b': [1, 2, 4, 8]}

In [212]:
d1 #{key:value}

{'a': 'some values', 'b': [1, 2, 4, 8]}

In [216]:
d1[7] = 'valueR' #d1[key] = value (assignment)

In [217]:
d1

{'a': 'some values', 'b': [1, 2, 4, 8], 7: 'valueR'}

In [218]:
d1['b'] = 'another valueR'

In [219]:
d1

{'a': 'some values', 'b': 'another valueR', 7: 'valueR'}

In [220]:
'b' in d1

True

In [221]:
'another valueR' in d1

False

In [222]:
d1

{'a': 'some values', 'b': 'another valueR', 7: 'valueR'}

In [223]:
del d1[7] #deleted the value at key=7

In [224]:
d1

{'a': 'some values', 'b': 'another valueR'}

In [226]:
d1.pop('b') #pops the value corresponding to the given key

'another valueR'

In [229]:
d1.values() #returns the all the values from dict

dict_values(['some values'])

In [230]:
d1.keys() #returns the all the keys from dict

dict_keys(['a'])

In [231]:
d1.update({7: 'hahaha', 8: 'abcde', 9: (True, None)}) #update extends the given dictionary

In [232]:
d1

{'a': 'some values', 7: 'hahaha', 8: 'abcde', 9: (True, None)}

In [239]:
words = ['apple', 'bat', 'bar', 'yellow', 'red']
by_letter = {}

In [240]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [241]:
by_letter

{'a': ['apple'], 'b': ['bat', 'bar'], 'y': ['yellow'], 'r': ['red']}

The above code can be replaced by using setdefault()

In [242]:
words = ['apple', 'bat', 'bar', 'yellow', 'red']
by_letter = {}

In [243]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [244]:
by_letter

{'a': ['apple'], 'b': ['bat', 'bar'], 'y': ['yellow'], 'r': ['red']}

In [245]:
from collections import defaultdict

In [246]:
by_letters = defaultdict(list)

In [247]:
by_letters

defaultdict(list, {})

In [248]:
for word in words:
    by_letters[word[0]].append(word)

In [249]:
by_letters

defaultdict(list,
            {'a': ['apple'],
             'b': ['bat', 'bar'],
             'y': ['yellow'],
             'r': ['red']})

In [250]:
hash('string')

8219765260528527146

In [251]:
hash((1,2,2))

2528502973978491464

In [253]:
hash([1, 2, 3]) #hash() takes only immutable object as its parameter and converts it to hash value, used for keys in dict

TypeError: unhashable type: 'list'

How to use list as keys?

In [254]:
d = {}

In [255]:
d[tuple([5, 6, 7])] = 78 #convert list into an immutable tuple then store it as key

In [256]:
d

{(5, 6, 7): 78}

Note: An immutable object cannot be treated as keys

In [258]:
{5, 7, 8, 9} #dict with no keys and unique values are sets

{5, 7, 8, 9}

In [259]:
set([2, 8, 8, 8, 9])

{2, 8, 9}

In [265]:
a = {1, 2, 3, 3, 4, 5}
b = {1, 'a', 'b', 'c', 'd', 'e' 'e'}

In [268]:
a.union(b)

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'ee'}

In [270]:
a | b #also a union b

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'ee'}

In [267]:
a.intersection(b)

{1}

In [272]:
a & b #also a intersection b

{1}

In [273]:
c = a.copy()

In [274]:
c

{1, 2, 3, 4, 5}

In [275]:
c |= b

In [276]:
c

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'ee'}

In [277]:
d = a.copy()

In [278]:
d &= b

In [279]:
d

{1}

In [283]:
data = list(range(5))

In [284]:
a_set = {tuple(data)}

In [285]:
a_set #set of 1 tuple

{(0, 1, 2, 3, 4)}

In [286]:
a_set = {1, 2, 3, 4}

In [287]:
{1, 2}.issubset(a_set)

True

In [288]:
a_set.issuperset({1, 2})

True

In [289]:
a_set

{1, 2, 3, 4}

In [291]:
b

{1, 'a', 'b', 'c', 'd', 'ee'}

In [292]:
a_set == b

False

In [293]:
strings = ['apple', 'bee', 'cat', 'a', 'as'] #list comprehension

In [295]:
[word.upper() for word in strings if len(word)>2]

['APPLE', 'BEE', 'CAT']

In [297]:
[chr(i) for i in range(65, 65+26) if i%2 == 0]

['B', 'D', 'F', 'H', 'J', 'L', 'N', 'P', 'R', 'T', 'V', 'X', 'Z']

In [298]:
{i: len(word) for i, word in enumerate(strings)} #dict comprehension

{0: 5, 1: 3, 2: 3, 3: 1, 4: 2}

In [300]:
{len(word) for word in strings} #set comprehension

{1, 2, 3, 5}

In [301]:
set(map(len, strings))

{1, 2, 3, 5}

In [302]:
set(map(chr, range(65,65+26)))

{'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z'}

In [310]:
all_data = [['dan', 'edu', 'uft', 'parse'], ['print', 'len', 'den', 'kicwosky']] #nested list

In [305]:
[name.upper() for names in all_data for name in names if name[1] == 'e'] #nested for in list comprehension

['LEN', 'DEN']

In [311]:
tup = [(1, 2, 3, 4, 5), ('a', 'b', 'c'), (True, False, None)]

In [308]:
[value for t in tup for value in t] #flattening the list of tuples

[1, 2, 3, 4, 5, 'a', 'b', 'c', True, False, None]

In [314]:
[[value for value in t] for t in tup] #nested list comprehension

[[1, 2, 3, 4, 5], ['a', 'b', 'c'], [True, False, None]]

# 3.2 - Functions